.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(20, 20, 78, 0.8);

  &__calcDisplay {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: black;
    color: white;
    text-align: right;
    padding: 20px 5px;
    font-size: 40px;
    max-width: 400px;
  }
  &__calcBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;

    &__calcButtons {
      font-size: 20px;
      width: 100px;
      height: 100px;
      background: #a5a5a5;
      color: inherit;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;
      border: 0.5px solid gray;
      &:nth-child(17) {
        width: 200px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }
}
